In [1]:
diem_hieucao = [10, 10, 5, "Cao Trung Hieu"]

In [2]:
diem_hieucao[3]

'Cao Trung Hieu'

In [3]:
diem_hieucao[0]

10

In [4]:
diem_hieucao[2]

5

In [5]:
diem_phuonganh = (1, 2, 3, "Phuong Anh")

In [6]:
diem_phuonganh[0]

1

In [9]:
diem_phuonganh[3]

'Phuong Anh'

In [8]:
diem_hieucao.append(45)

In [10]:
diem_hieucao

[10, 10, 5, 'Cao Trung Hieu', 45]

In [1]:
import pandas

In [4]:
bang_diem = pandas.DataFrame({
    "diem_chuyen_can": [1, 2],
    "diem_giua_ki": [9, 10],
    "diem_cuoi_ki": [10, 10],
    "ten": ["hieu", "Phuong anh"]
})

In [5]:
bang_diem

   diem_chuyen_can  diem_giua_ki  diem_cuoi_ki         ten
0                1             9            10        hieu
1                2            10            10  Phuong anh