In [12]:

from common.read_spectral_common import (
    data_df_13_09_2022, 
    calculate_mutual_info_for_all, 
    generate_sample, create_X_train_Y_train, 
    mutual_info_regression, 
    get_max_bands, 
    get_bands_ix_from_mutual_info, 
    get_average_bands, 
    get_max_bands, 
    get_min_bands,
    predict_using_neutral_network, 
    predict_using_random_forest, 
    predict_using_decision_tree,
    get_full_path,
    load_sklearn_model_to_file_by_cloudpickle,
)
import matplotlib.pyplot as plt
import pickle
import cloudpickle
import common
from sklearn import tree
from sklearn.metrics import mean_squared_error
import numpy as np
from datetime import datetime
import os
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd
from torch import nn
import torch

In [3]:

target_value = "P"
train_field = "T"

In [4]:
bands_ix = [1, 2, 3]

In [5]:
sample = generate_sample(data_df_13_09_2022, bands_ix, target_value, train_field)
X_train, Y_train = create_X_train_Y_train(sample, bands_ix)
sample_target = generate_sample(data_df_13_09_2022, bands_ix, target_value, "BC")
X_target, Y_target = create_X_train_Y_train(sample_target, bands_ix)

In [6]:
data_df_13_09_2022

,type_of_field,East.1,North.1,Elevation.1,P conc. (mg/kg).1,K conc. (mg/kg).1,N conc. (mg/kg).1,Chlorophyll-a.1,row_num,col_num
1,T1.1,530605.915,2355788.377,15.193,6098.182181,12505.992809,4311.970060,35.8,2777,3548
2,T1.2,530601.735,2355788.448,15.178,5037.174349,12338.677355,4787.270920,34.0,2775,3409
3,T1.3,530597.008,2355787.118,15.206,6471.319695,14923.786602,5286.813480,34.9,2819,3251
4,T2.1,530593.342,2355789.827,15.215,6433.340016,17184.242181,3066.571650,29.8,2729,3129
5,T2.2,530591.652,2355794.783,15.236,5679.671869,13274.309724,3433.145680,36.1,2563,3073
...,...,...,...,...,...,...,...,...,...,...
72,J12.3,530582.155,2355781.790,15.238,7009.292566,16528.776978,7556.516150,38.6,2997,2756
74,BC2,530553.718,2355758.342,15.224,5885.628743,14264.471058,2265.424250,33.2,3778,1808
75,BC3,530591.520,2355732.444,15.206,7505.289421,16167.664671,3268.614069,40.0,4641,3068
76,BC4,530622.015,2355776.121,15.086,6279.883674,10340.954673,2980.889693,41.8,3185,4085
77,BC5,530619.755,2355797.647,15.229,6624.348175,9675.391095,2460.532560,35.0,2468,4010

In [7]:
Y_target

tensor([[5885.6289],
        [7505.2896],
        [6279.8838],
        [6624.3481]])

In [21]:
y_true = torch.tensor([1., 2., 3., 4.])
y_pred = torch.tensor([5., 1000., 7., 8.])

In [22]:
loss_fn = nn.MSELoss()

In [23]:
np.sqrt(loss_fn(y_true, y_pred))

tensor(499.0120)

In [24]:
np.sqrt(mean_squared_error(y_true, y_pred))

499.01202